@page
@model KinderGardenApp.HistoryModel
@{
    ViewData["Title"] = "History";
}

<h1>Историја на градинката</h1>

<div>
    <h3>Нашите почетоци исполнети со ентузијазам, гордост и предизвици.</h3>

    <h4>Прва Декада 1965 - 1975</h4>

    <p>
        Во 1965 год. почнавме како комбинирана детска градинка сп отварање на објектот 
        „Тафталиџе 1“ на ул.„Варшавска“бр.15 со 15 вработени и 108 деца.  Директорка: г-ѓа Мира Сотирова.
    </p>
    <h4>Втора Декада 1975-1985</h4>
    
    <p>
        Со отварање на објектот „Тафталиџе 2“ во 1977 станавме „Мајски Цвет“. Во 1980 год. се проширивме
        со уште еден објект „Тафталиџе“. Активно се вклучуваме во изработка и реализирање на „Програма 
        предучилишно воспитание и образование“, издадена во 1982 г. Директорка: г-ѓа Мира Сотирова, 
        а потоа г-ѓа Ленче Гаврилска.
    </p>
    <h4>Трета Декада 1985-1995</h4>
    <p>
        Во 1994 г. покрај реализирањето на државната програма се вклучивме со проектот „Чекор по чекор“.
        Станавме модел градинка за изведување на практичните активности на студентите од Институтот за
        Педагогија, Институтот за Дефектологија и Педагошкиот Факултет.      Директорка: г-ѓа Ленче Гаврилска.
    </p>

    <h4>Четврта Декада 1995 -2005</h4>

    <p>Продолживме со реализација на Националната програма, а дел од групите работат и на проектот и на проекто
    т „Чекор по чекор“ следејќи ги сите современи текови од предучилишното воспитание и образование.                                                                                 
    Директорка: г-ѓа Ленче Гаврилска, а потоа г-ѓа Снежана Подгорец - Радиќ</p>

    <h4>Петта Декада 2005-2015</h4>

    <p>
        Реализирањето на најновата програма „Програма за рано учење и развој“ тековно следејќи ги
        промените кон современиот начин на реализирање на секојдневните активности применувајки го 
        холистичкиот пристап. Афирмацијата на нашата градинка преку поголем степен на овореност и 
        соработка со родителите, но и преку презентација на нашата основна дејност преку проектни активности.    
        Директорка: г-ѓа Снежана Подгорец - Радиќ
    </p>
</div>

