@page
@model KinderGardenApp.ApplicationModel
@{
    ViewData["Title"] = "Application";
}

<h1>Апликација</h1>
@if (Model.saved == false)
{


<form method="post">
    <div class="row">
        <div id="" class="col-sm-4">
            <label>Име на Дете: </label>
            <div class="clearfix"></div>
            <input asp-for="kid.FirstName" id="FirstName" name="FirstName" type="text" />
        </div>
        <div id="" class="col-sm-4">
            <label>Презиме на Дете: </label>
            <div class="clearfix"></div>
            <input asp-for="kid.LastName" id="LastName" name="LastName" type="text" />
        </div>
        <div id="" class="col-sm-4">
            <label>Години: </label>
            <div class="clearfix"></div>
            <input asp-for="kid.Age" id="Age" name="Age" type="number" />
        </div>
    </div>
    <div class="row">
        <div id="" class="col-sm-4">
            <label>Име на татко: </label>
            <div class="clearfix"></div>
            <input asp-for="parent.ImeTatko" id="ImeTatko" name="ImeTatko" type="text" />
        </div>
        <div id="" class="col-sm-4">
            <label>Име на мајка: </label>
            <div class="clearfix"></div>
            <input asp-for="parent.ImeMajka" id="ImeMajka" name="ImeMajka" type="text" />
        </div>
        <div id="" class="col-sm-4">
            <label>Контакт тел:</label>
            <div class="clearfix"></div>
            <input asp-for="parent.PhoneNumber" id="PhoneNumber" name="PhoneNumber" type="number" />
        </div>
    </div>
    <div class="row">
        <div id="" class="col-sm-4">
            <label>Адреса: </label>
            <div class="clearfix"></div>
            <input asp-for="parent.Adress" id="Adress" name="Adress" type="text" />
        </div>
        <div id="" class="col-sm-4">
            <label>Општина: </label>
            <div class="clearfix"></div>
           <input asp-for="parent.Municipality" id="Municipality" name="Municipality" type="text" />
        </div>
        <div id="" class="col-sm-4">
            <label>Email: </label>
            <div class="clearfix"></div>
            <input asp-for="parent.Email" id="Email" name="Email" type="text" />
        </div>

    </div>
    <button type="submit" class="btn btn-primary">Аплицирај</button>
</form>
}
else
{
    <p>Вашата Апликација е успешно внесена</p>
}
